html, body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
li {
    list-style-type: none;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
@media only screen and (max-width: 1220px) {
    html, body {
        font-size: 14px;
    }
}