.category_wrapper {
    display: flex;
}
.series_category {
    position: relative;
}
.category_img {
    width: 8.43rem;
    height: 12.6rem;
    position: relative;
    background: #1e1e1e;
    margin-right: 0.93rem;
}
.category_img::after {
    content: '';
    width: 4.375rem;
    height: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../assets/images/clapperboard.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.category_img h3 {
    color: #fff;
    font-size: 1.875rem;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 2;
} 
.series_category p {
    font-size: 0.875rem;
}