.movies_wrapper  {
    overflow: auto;
}
.movies_outer {
    display: flex;
    flex-wrap: wrap;
}
.movies_wrapper  .movies_item {
    width: calc(100% / 7);
    vertical-align: top;
    float: left;
    margin-bottom: 4vw;
}
.movies_wrapper img {
    width: 80%;
    height: auto;
}
.movies_wrapper  .movies_item p {
    width: 80%;
    font-size: 0.875rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    cursor: pointer;
}
.movies_wrapper  .movies_item:nth-of-type(7n+7) {
   clear: left;
}
@media only screen and (max-width: 1220px) {
    .movies_wrapper  .movies_item {
        width: calc(100% / 5);
    }
}
@media only screen and (max-width: 768px) {
    .movies_wrapper  .movies_item  {
        width: calc(100% / 4);
    }
}
@media only screen and (max-width: 600px) {
    .movies_wrapper  .movies_item  {
        width: calc(100% / 3);
    }
}
@media only screen and (max-width: 400px) {
    .movies_wrapper  .movies_item  {
        width: calc(100% / 2);
    }
}
