.series_wrapper  {
    overflow: auto;
}
.series_outer {
    display: flex;
    flex-wrap: wrap;
}
.series_wrapper .series_item {
    width: calc(100% / 7);
    vertical-align: top;
    float: left;
    margin-bottom: 4vw;
}
.series_wrapper img {
    width: 80%;
    height: auto;
}
.series_wrapper .series_item p {
   width: 80%;
   font-size: 0.875rem;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   margin: 0;
}
.series_wrapper .series_item:nth-of-type(7n+7) {
   clear: left;
}

@media only screen and (max-width: 1220px) {
    .series_wrapper .series_item {
        width: calc(100% / 5);
    }
}
@media only screen and (max-width: 768px) {
    .series_wrapper .series_item {
        width: calc(100% / 4);
    }
}
@media only screen and (max-width: 600px) {
    .series_wrapper .series_item {
        width: calc(100% / 3);
    }
}
@media only screen and (max-width: 400px) {
    .series_wrapper .series_item {
        width: calc(100% / 2);
    }
}