footer {
    background: #1e1e1e;
    padding: 2.34vw 2.6vw  2.34vw 6.77vw;
}
footer .footer_navbar {
    display: flex;
    padding: 0;
}
.footer_navbar li a {
    font-size: 0.75rem;
    font-weight: 600;
    color: #818181;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    border-right: 1px solid #818181;
}
.footer_navbar li:first-of-type a {
  padding-left: 0;
}
.footer_navbar li:last-of-type a {
  border-right: 0;
}
footer .copywrite {
    font-size: 0.75rem;
    font-weight: 500;
    color: #818181;
    margin-bottom: 3.125rem;
}
.contact_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social_wrapper {
    display: flex;
    padding: 0;
}
.social_wrapper li:not(:last-of-type) {
    margin-right: 1.875rem;
}
.social_wrapper .social_icon {
    width: 2rem;
    height: 2rem;
    display: block;
}
.social_wrapper .social_icon.facebook {
    background: url("../assets/images/facebook-white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.social_wrapper .social_icon.twitter {
    background: url("../assets/images/twitter-white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.social_wrapper .social_icon.instagram {
    background: url("../assets/images/instagram-white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.social_wrapper .social_icon.facebook:hover {
    background: url("../assets/images/facebook-blue.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.social_wrapper .social_icon.twitter:hover {
    background: url("../assets/images/twitter-blue.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.social_wrapper .social_icon.instagram:hover {
    background: url("../assets/images/instagram-blue.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.stores_wrapper {
    display: flex;
    padding: 0;
}
.stores_wrapper .store_icon {
    width: 8.4rem;
    height: 2.5rem;
    display: block;
}
.stores_wrapper li:not(:last-of-type) .store_icon {
    margin-right: 1.5rem;
}
.stores_wrapper .store_icon.app_store {
   background: url("../assets/images/app-store.svg");
   background-repeat: no-repeat;
   background-size: contain;
}
.stores_wrapper .store_icon.google_play {
   background: url("../assets/images/play-store.svg");
   background-repeat: no-repeat;
   background-size: contain;
}
.stores_wrapper .store_icon.microsoft {
   background: url("../assets/images/windows-store.svg");
   background-repeat: no-repeat;
   background-size: contain;
}
@media only screen and (max-width: 600px) {
    footer {
        padding: 6.34vw 2.6vw  2.34vw 6.77vw;
    }
    .contact_wrapper {
       flex-direction: column;
       align-items: flex-start;
    }
    footer .footer_navbar {
        flex-direction: column;
    }
    .footer_navbar li a {
        padding-left: 0;
        border-right: 0;
    }
    .social_wrapper {
        margin-bottom: 2rem;
    }
    .social_wrapper .social_icon {
        width: 1rem;
        height: 1rem;
    } 
    .social_wrapper li:not(:last-of-type) {
        margin-right: 1rem;
    }
    .stores_wrapper .store_icon {
        width: 5.4rem;
        height: 1.5rem;
    }
}