header {
    color: #fff;
}
.login_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #0194fe, #008bff, #0083ff, #0079ff, #006fff);
    padding: 1.04vw 2.6vw 1.04vw 6.77vw;
}
.login_container h1 {
    font-size: 2.25rem;
    font-weight: 800;
    margin: 0;
}
.login_actions .btn {
    font-weight: 600;
    color: #fff;
    border: none;
}
.login_actions .login_btn {
    background: transparent;
    margin-right: 1.875rem;
}
.login_actions .free_trail__btn {
    padding: 0.625rem;
    background-image: linear-gradient(to bottom, #3f3f3f, #3f403f, #404040, #404140, #414141);
}
header h2 {
    font-size: 1.875rem;
    padding: 1.04vw 2.6vw 1.04vw 6.77vw;
    background-image: linear-gradient(to bottom, #3f3f3f, #3f403f, #404040, #404140, #414141);
    margin: 0;
    -webkit-box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.57); 
    box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.57);
}
@media only screen and (max-width: 1220px) {
    .login_container {
        padding: 2.04vw 2.6vw 2.04vw 6.77vw;
    }
    header h2 {
        padding: 2.04vw 2.6vw 2.04vw 6.77vw;
    }
}
@media only screen and (max-width: 768px) {
    .login_container {
        flex-direction: column;
        padding: 8vw 3.5vw 5vw;
        align-items: flex-end;
    }
    .login_container h1 {
        width: 100%;
        font-size: 1.8rem;
    }
    header h2 {
        font-size: 1.4rem;
        padding: 3.5vw;
    }
    .login_actions {
        margin-top: 2rem;
    }
}